body {
  background-color: royalblue;
  margin: 0;
  display: flex;

  justify-content: center;
  align-items: center;
  user-select: none;
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.container {
  height: 80vh;
  width: 80vw;
  /* border: 1px dotted yellow; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-top: 60px; */
}

.topContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.prompt {
  color: antiquewhite;
  font-size: 30px;
  font-weight: bolder;
}

.searchDiv {
  /* flex: 1; */
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  width: 50vw;
}

.jobInput {
  /* border: 5px dotted black; */
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 5px;
  border: 1px solid white;
  /* border: rgba(255, 255, 255, 0.1); */
  border-radius: 10px;
  font-size: 15px;
  transition: border 100ms ease;
}

/* .jobInput:hover {
  border: 1px solid white;
}
.jobInput:active {
  border: 1px solid white;
} */

.inputBox {
  width: 100%;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  color: white;
}

.submitBtn {
  background-color: white;
  color: gray;
  border: none;
  border-radius: 10px;
  /* width: 200px;
  height: 200px; */
}

.loadingBox {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: white;
  font-size: 30px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

.resultsBox {
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0 10px;
  border-radius: 10px;
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 60%;
  color: white;
  /* text-decoration: none; */
  list-style: none;
  justify-content: flex-start;
  align-items: flex-start;
  /* margin: 0 30px; */
  /* text-align: center; */
}

.portfolioTxt {
  /* font-size: 20px; */
  font-weight: bold;
  /* border: 1px dotted yellow; */
}

.results {
  display: flex;
  flex-direction: column;
  /* border: 1px dotted yellow; */
  flex: 1;
  transform: translateX(50%);
  /* padding: 10px 0; */
}

.skill {
  display: flex;
  flex: 1;
  font-size: large;
  flex-direction: column;
  justify-content: space-between;
  /* margin-bottom: 3px; */
}
