:root {
  --verdigris: #64b6ac;
  --tiffany: #92dad4;
  --celeste: #c0fdfb;
  --puce: #bb7e8c;
  --thistle: #c9b6be;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.1) #4169e1;
}

/* .skillCard--verdigris {
  background: linear-gradient(135deg, var(--verdigris), white);
}

.skillCard--tiffany {
  background: linear-gradient(135deg, var(--tiffany), white);
}

.skillCard--celeste {
  background: linear-gradient(135deg, var(--celeste), white);
}

.skillCard--puce {
  background: linear-gradient(135deg, var(--puce), white);
}

.skillCard--thistle {
  background: linear-gradient(135deg, var(--thistle), white);
} */

body {
  background-color: #4169e1;
  margin: 0;
  position: relative;
  /* height: 100vh;
  width: 100vw; */
  /* justify-content: center;
  align-items: center; */
  user-select: none;
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.container {
  /* height: 100%;
  width: 100%; */
  /* border: 1px dotted yellow; */
  display: flex;
  flex: 1;
  height: 80vh;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  /* margin: 10px; */
  /* margin-top: 60px; */
}

.grid-container {
  /* border: 1px dotted yellow; */
  /* grid-template-rows: 1fr 1fr 1fr; */
  display: grid;
  grid-template-rows: 1fr 3fr 5fr;
  width: 80%;
  height: 100%;
  margin: auto;
  /* Centering */
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.skillModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.modalContent {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50px;
  padding: 0 20px;
  width: 50%;
  height: 50%;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.8);
}

.modalClose {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 30px;
}

.modalHeader {
  display: flex;
  flex-direction: row;
}

.modalTitle {
  display: flex;
  font-size: 20px;
  font-weight: bold;
}

.readMore {
  display: flex;
  font-size: 12px;
  font-weight: bold;
  align-self: flex-end;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: underline;
  cursor: pointer;
}
.topContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.prompt {
  color: antiquewhite;
  font-size: 30px;
  font-weight: bolder;
}

.searchDiv {
  /* flex: 1; */
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  width: 50vw;
}

.jobInput {
  /* border: 5px dotted black; */
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 5px;
  border: 1px solid white;
  /* border: rgba(255, 255, 255, 0.1); */
  border-radius: 10px;
  font-size: 15px;
  transition: border 100ms ease;
}

/* .jobInput:hover {
  border: 1px solid white;
}
.jobInput:active {
  border: 1px solid white;
} */

.inputBox {
  width: 100%;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  color: white;
}

.submitBtn {
  background-color: white;
  color: gray;
  border: none;
  border-radius: 10px;
  /* width: 200px;
  height: 200px; */
}

.loadingBox {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: white;
  font-size: 30px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

.resultsBox {
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0 10px;
  border-radius: 10px;
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 60%;
  color: white;
  /* text-decoration: none; */
  list-style: none;
  justify-content: flex-start;
  align-items: flex-start;
  /* margin: 0 30px; */
  /* text-align: center; */
}

.portfolioTxt {
  /* font-size: 20px; */
  font-weight: bold;
  /* border: 1px dotted yellow; */
}

.results {
  display: flex;
  flex-direction: column;
  /* border: 1px dotted yellow; */
  flex: 1;
  transform: translateX(50%);
  /* padding: 10px 0; */
}

.skill {
  display: flex;
  flex: 1;
  font-size: large;
  flex-direction: column;
  justify-content: space-between;
  /* margin-bottom: 3px; */
}

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.searchAgain {
  position: absolute;
  left: 5%;
  color: white;
  text-decoration: underline;
}

.header {
  font-size: 30px;
  font-weight: bold;
  color: white;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* grid-row: 1; */
  /* grid-column: 1 / -1; Spans the entire grid */
}

.skillCard {
  display: flex;
  background-color: white;
  border-radius: 10px;
  /* flex: 1; */
  /* height: 100%; */
  /* /* height: 50%; */
  /* width: calc(15vw - 20px); */
  height: 280px;
  width: 280px;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 10px 20px;
  margin: 10px;

  /* align-self: center; */
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  transition: 0.3s ease;
}

.skillCard:hover {
  /* transition-property: all; */
  box-shadow: 2px 2px 20px rgb(255, 255, 255);
  cursor: pointer;
}

.cardTitle {
  display: flex;
  font-size: 16px;
  font-weight: bold;
}

.cardText {
  display: flex;
  font-size: 12px;
  width: 100%;
  /* white-space: nowrap; */
  /* overflow: hidden;
  text-overflow: ellipsis; */
}

.carouselContainer {
  display: flex;
  justify-content: center;
  /* grid-row: 2; */
  /* grid-template-columns: repeat(5, 1fr); */
  /* gap: 10px; */
  /* height: 100%;
  width: 100%;
  display: flex;
  flex: 1; */
  /* flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; */
  /* overflow-x: scroll; */
  /* align-content: center; */
  /* border: 1px solid greenyellow; */
}

.chartsContainer {
  /* border: 1px solid greenyellow; */
  display: flex;
  /* height: 100%;
  width: 100%; */
  /* flex: 1; */
  flex-direction: row;
  /* grid-row: 3; */
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px; */
  padding: 20px;
  justify-content: center;
  align-items: flex-start;
}

.chart1 {
  /* flex: 3; */
  /* /* background-color: rgb(187, 126, 140); */
  background-color: rgba(255, 255, 255, 0.2);
  /* background-color: #3b5249; */
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  height: 450px;
  width: 900px;
  margin: 5px;
  padding: 10px;
}
.chart2 {
  /* flex: 2; */
  background-color: rgba(50, 14, 59, 0.1);
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  height: 450px;
  width: 450px;
  margin: 5px;
  padding: 10px;
}

/* Extra Large screens */
/* @media (max-width: 1920px) {
  .grid-container {
    width: 70%;
  }

  .skillCard {
    height: 250px;
    width: 250px;
  }

  .chart1 {
    height: 400px;
    width: 800px;
  }

  .chart2 {
    height: 400px;
    width: 400px;
  }
} */

/* Large screens 1920 px and below */
@media (max-width: 1920px) {
  .grid-container {
    width: 90%;
  }

  .skillCard {
    height: 220px;
    width: 220px;
  }

  .chart1 {
    height: 350px;
    width: 700px;
  }

  .chart2 {
    height: 350px;
    width: 350px;
  }
}
/* Medium screens 1265 px and below (tablets, small desktops */
@media (max-width: 1265px) {
  .grid-container {
    width: 90%;
  }

  .header {
    font-size: 24px;
  }

  .skillCard {
    height: 180px;
    width: 180px;
  }

  .cardTitle {
    font-size: 14px;
  }

  .cardText {
    font-size: 11px;
  }

  .chart1 {
    height: 300px;
    width: 600px;
  }

  .chart2 {
    height: 300px;
    width: 300px;
  }
}

/* wrap content */
@media (max-width: 1054px) {
  .grid-container {
    width: 100%;
    grid-template-rows: 1fr 3fr 6fr;
  }

  .modalContent {
    font-size: 14px;
  }
  .carouselContainer {
    flex-wrap: wrap;
  }

  .skillCard {
    height: 250px;
    width: 250px;
  }

  .cardTitle {
    font-size: 16px;
  }

  .cardText {
    font-size: 14px;
  }

  .chartsContainer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .chart1 {
    height: 350px;
    width: 700px;
  }

  .chart2 {
    height: 700px;
    width: 700px;
  }
}

/* Medium screens */
@media (max-width: 825px) {
  .grid-container {
    width: 90%;
    /* grid-template-rows: 1fr 2fr 3fr; */
  }

  .modalTitle {
    font-size: 18px;
  }

  .modalContent {
    font-size: 14px;
    width: 60%;
  }

  .searchDiv {
    width: 70vw;
  }

  .searchAgain {
    font-size: 12px;
  }

  .resultsBox {
    width: 80%;
  }

  .skillCard {
    height: 180px;
    width: 180px;
  }

  .cardTitle {
    font-size: 14px;
  }

  .cardText {
    font-size: 11px;
  }

  .chart1 {
    height: 250px;
    width: 500px;
  }

  .chart2 {
    height: 500px;
    width: 500px;
  }
}

/* Small screens (phones) */
@media (max-width: 684px) {
  .grid-container {
    width: 100%;
    grid-template-rows: auto;
  }

  .modalTitle {
    font-size: 16px;
  }

  .modalContent {
    font-size: 13px;
    width: 80%;
  }

  .carouselContainer {
    /* flex-direction: column; */
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    /* grid-template-columns: repeat(2, 1fr); */
    align-items: center;
  }

  .searchDiv {
    width: 90vw;
  }

  .resultsBox {
    width: 100%;
  }

  .skillCard {
    height: 200px;
    width: 200px;
  }

  .chart1 {
    height: 200px;
    width: 400px;
  }

  .chart2 {
    height: 400px;
    width: 400px;
  }

  .headerContainer {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .header {
    font-size: 16px;
  }

  .searchAgain {
    font-size: 10px;
    position: relative;
    display: flex;
    align-self: first baseline;
    /* left: 0; */
    /* right: 15%; */
  }

  .prompt {
    font-size: 24px;
  }
}

@media (max-width: 469px) {
  /* .carouselContainer {
    flex-direction: column;
  } */

  .loadingTxt {
    font-size: 20px;
  }

  .modalTitle {
    font-size: 16px;
  }

  .modalContent {
    font-size: 13px;
    width: 95%;
  }

  .header {
    font-size: 14px;
  }

  .searchAgain {
    font-size: 10px;
  }

  .readMore {
    font-size: 12px;
  }

  .chart1 {
    height: 200px;
    width: 400px;
  }

  .chart2 {
    height: 400px;
    width: 400px;
  }
}

/* @media (max-width: 7288px) {
  .grid-container {
    height: 60%;
    width: 60%;
    margin: 20px;
    /* grid-template-rows: 1fr 1fr 1fr; /
  }

  .skillCard {
    /* width: calc(15vw - 20px); /
    height: 250px;
    width: 250px;
  }

  .chart1 {
    height: 350px;
    width: 700px;
  }

  .chart2 {
    height: 350px;
    width: 350px;
  }
} */
